### INSIGHTS OUTRO ARQUIVO
Porque os dados não concatenados funcionou melhor que os dados não concatenados?

A análise com os dados do resultado concatenados não levavam em conta o adversário da partida, já com os dados não concatenados temos uma análise mais precisa uma vez que podemos prever o resultado baseado no desmpenho do time e do time o qual eles estão jogando contra.

### DECISION TREE

Vamos implementar agora uma técnica chamada Decision Tree, ela é utilizada para classificadores e regressões. O objetivo do uso da Decision Tree é criar um modelo que fará a predição do resultado de uma partida de um time.

In [85]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import matplotlib

### NOVO TOP TOP

In [119]:
y_train = dados['bResult']
x_train = dados.drop(columns=['bResult', 'rResult'])

In [120]:
encoder = OneHotEncoder(handle_unknown='ignore')
x_train_encoded = encoder.fit_transform(x_train.astype(str).values)

In [121]:
x_train_encoded

<6499x10952 sparse matrix of type '<class 'numpy.float64'>'
	with 181972 stored elements in Compressed Sparse Row format>

In [122]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(x_train_encoded, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [123]:
dados_testes.dropna(inplace=True)

In [124]:
y_test = dados_testes['bResult']
x_test = dados_testes.drop(columns=['bResult', 'rResult'])

In [127]:
encoder = OneHotEncoder(handle_unknown='ignore')
x_test_encoded = encoder.fit_transform(x_test.astype(str).values)

In [130]:
y_pred = regressor.predict(x_test_encoded)

ValueError: Number of features of the model must match the input. Model n_features is 10952 and input n_features is 4300

In [ ]:
model.score(x_test_encoded, y_test)

In [ ]:
y_pred

In [ ]:
acc = accuracy_score(y_test, y_predict)

In [ ]:
acc

## AHHHHH

In [71]:
read_file = pd.read_csv (r'matchinfo.csv')
read_file.to_excel (r'matchinfo.xlsx', index = None, header=True)

In [75]:
dados_train = pd.read_excel('matchinfo-treinamento.xlsx')
dados_test = pd.read_excel('matchinfo-testes.xlsx')

X_train = dados_train['Treinamento']
y_train = dados_train['Classificação']
X_test = dados_test['Teste']
y_test = dados_test['Classificação']

KeyError: 'Treinamento'

In [47]:
#CARREGAR DADOS JUNTO
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=27)

NameError: name 'X' is not defined

In [48]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

NameError: name 'X_train' is not defined

In [49]:
conta_treinamento = pd.Series(y_train).value_counts()
conta_treinamento

NameError: name 'y_train' is not defined

In [50]:
conta_teste = pd.Series(y_test).value_counts()
conta_teste

NameError: name 'y_test' is not defined

In [51]:
conta_treinamento[True] / conta_treinamento[False]

NameError: name 'conta_treinamento' is not defined

### SEM SEPARAR

In [131]:
dados = pd.read_excel('matchinfo-treinamento.xlsx')
dados_testes = pd.read_excel('matchinfo-testes.xlsx')
# dados = pd.read_csv('matchinfo.csv')

In [132]:
columnsb=['bResult', 'blueTeamTag', 'blueTop', 'blueTopChamp', 'blueJungle','blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC','blueADCChamp', 'blueSupport', 'blueSupportChamp']
columnsr=['rResult', 'redTeamTag', 'redTop','redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle','redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport','redSupportChamp']
columns=['Result', 'TeamTag', 'Top','TopChamp', 'Jungle', 'JungleChamp', 'Middle','MiddleChamp', 'ADC', 'ADCChamp', 'Support','SupportChamp']

dados_b = dados[columnsb]
dados_b.columns = columns
dados_r = dados[columnsr]
dados_r.columns = columns

dados_concat = pd.concat([dados_b, dados_r]).dropna()

In [133]:
dados_bt = dados_testes[columnsb]
dados_bt.columns = columns
dados_rt = dados_testes[columnsr]
dados_rt.columns = columns

teste_concat = pd.concat([dados_bt, dados_rt]).dropna()
teste_concat.head()

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,1,GCU,Solo,Shen,Santorin,JarvanIV,Fly,Orianna,Rikara,Sivir,Whyin,Thresh
1,1,CNB,Lep,Maokai,Minerva,Graves,Tinowns,Syndra,pbO,Jhin,Woswos,Malzahar
2,0,MSE,Ninuo,Maokai,Wulala,Gragas,M1ssion,Vladimir,CorGi,Sivir,Kaiwing,Braum
3,1,PDS,jer0m,Gnar,RafaL0L,Gragas,Icytower,Vladimir,xpng,Varus,Choisix,Thresh
4,0,JAG,TrAce,TahmKench,Winged,Elise,Kuzan,Cassiopeia,Pilot,Lucian,Chei,Alistar

In [134]:
dados_concat.head(1)

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,0,TSM,Hauntzer,Trundle,Svenskeren,Elise,Bjergsen,Lulu,Doublelift,Jhin,Yellowstar,Braum

In [135]:
from sklearn import tree
from sklearn.metrics import confusion_matrix 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

### DUMMIFY

In [58]:
def dummify(data, column_name):
    """
        Converte a coluna column_name em dummies / one-hot e as adiciona ao dataframe
        retorna uma copia do  df original *sem* a coluna que foi dummified
    """
    df = data.copy()
    # Nota: se você for um econometrista, pode se interessar por usar a opção dropFirst = True na get_dummies
    df2 = pd.concat([df.drop(column_name, axis=1), pd.get_dummies(data[column_name], prefix=column_name)], axis=1)
    return df2

In [61]:
d = dummify(dados_concat, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    d= dummify(d,i)
    
d.head()

,Result,Top_957,Top_3z,Top_ADD,Top_AJ,Top_AJun,Top_Acce,Top_Achie,Top_Acorn,Top_Air,...,SupportChamp_Trundle,SupportChamp_TwistedFate,SupportChamp_Udyr,SupportChamp_Vayne,SupportChamp_Veigar,SupportChamp_Velkoz,SupportChamp_Zac,SupportChamp_Ziggs,SupportChamp_Zilean,SupportChamp_Zyra
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
t = dummify(teste_concat, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    t= dummify(t,i)
    
t.head()

,Result,Top_957,Top_3z,Top_957',Top_ADD,Top_AJ,Top_AJun,Top_Acce,Top_Achie,Top_Acorn,...,SupportChamp_Soraka,SupportChamp_Syndra,SupportChamp_TahmKench,SupportChamp_Taric,SupportChamp_Thresh,SupportChamp_Trundle,SupportChamp_Veigar,SupportChamp_Velkoz,SupportChamp_Zilean,SupportChamp_Zyra
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
X = d.iloc[:,1:]
Y = dados_concat[['Result']]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [64]:
X.shape

(12933, 2306)

In [67]:
X_teste = t.iloc[:,1:]
X_teste.shape

(2232, 1796)

In [68]:
clf.predict(X_teste)

ValueError: Number of features of the model must match the input. Model n_features is 2306 and input n_features is 1796

In [ ]:
from sklearn import tree
from sklearn.datasets import load_iris
iris = load_iris()
c#lf = tree.DecisionTreeClassifier()
#clf = clf.fit(iris.data, iris.target)

In [ ]:
tree.plot_tree(clf.fit(iris.data,iris.target))

In [ ]:
!pip install -U scikit-learn

In [ ]:
plot_tree(clf)
plt.show()

### SEM CONCATENAR

In [ ]:
d = dummify(dados, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    d= dummify(d,i)
    
d.head()