### INSIGHTS OUTRO ARQUIVO
Porque os dados não concatenados funcionou melhor que os dados não concatenados?

A análise com os dados do resultado concatenados não levavam em conta o adversário da partida, já com os dados não concatenados temos uma análise mais precisa uma vez que podemos prever o resultado baseado no desmpenho do time e do time o qual eles estão jogando contra.

### DECISION TREE

Vamos implementar agora uma técnica chamada Decision Tree, ela é utilizada para classificadores e regressões, no nosso caso classificação. O objetivo do uso da Decision Tree é criar um modelo que fará a predição do resultado de uma partida de um time.

Esse modelo

## Mais de duas técnicas 
Para melhorar os resultados, implementamos diferentes técnicas de classificação para podermos compará-las.

## Exemplo Aposta
Para uma aplicação prática, vamos supor que você goste de apostar na equipe azul em partidas de LOL. Como visto pelo nosso classificador acima, a chance de vitória é de aproximadamente 64%. Porém, agora você decidiu que irá apenas apostar naquelas partidas que tenham uma grande chance de vitória. 
...
Como podemos observar no gráfico acima, sempre que a probabilidade de acerto

# <font color='#00878A'>DECISION TREE</font>

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import matplotlib

In [55]:
dados = pd.read_excel('matchinfo-treinamento.xlsx')
dados_testes = pd.read_excel('matchinfo-testes.xlsx')

In [8]:
y_train = dados['bResult']
x_train = dados.drop(columns=['bResult', 'rResult'])

In [9]:
encoder = OneHotEncoder(handle_unknown='ignore')
x_train_encoded = encoder.fit_transform(x_train.astype(str).values)

In [10]:
x_train_encoded

<6499x10952 sparse matrix of type '<class 'numpy.float64'>'
	with 181972 stored elements in Compressed Sparse Row format>

In [11]:
#implementando a técnica decision tree
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(x_train_encoded, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [12]:
dados_testes.dropna(inplace=True)

In [13]:
y_test = dados_testes['bResult']
x_test = dados_testes.drop(columns=['bResult', 'rResult'])

In [14]:
x_test_encoded = encoder.transform(x_test.astype(str).values)

In [15]:
y_pred = regressor.predict(x_test_encoded)

In [17]:
regressor.score(x_test_encoded, y_test)

-0.7886240056062392

In [18]:
y_pred

array([1., 1., 1., ..., 1., 1., 1.])

In [20]:
acc = accuracy_score(y_test, y_pred)

In [21]:
print("Acurácia: {}".format(acc))

Acurácia: 0.557347670250896

In [61]:
df=pd.DataFrame({'Real':y_test, 'Previsão':y_pred})
df

      Real  Previsão
0        1       1.0
1        1       1.0
2        0       1.0
3        1       1.0
4        0       1.0
5        1       1.0
6        1       0.0
7        1       0.0
8        1       1.0
9        1       0.0
10       0       0.0
11       1       1.0
12       0       0.0
13       0       0.0
14       0       0.0
15       1       1.0
16       0       0.0
17       1       0.0
18       1       0.0
19       1       0.0
20       1       0.0
21       1       0.0
22       1       1.0
23       0       0.0
24       0       1.0
25       1       1.0
26       0       0.0
27       1       1.0
28       0       1.0
29       0       1.0
...    ...       ...
1090     1       1.0
1091     1       1.0
1092     1       1.0
1093     1       1.0
1094     0       0.0
1095     0       1.0
1096     1       1.0
1097     1       0.0
1098     1       0.0
1099     0       1.0
1100     0       0.0
1101     0       0.0
1102     0       1.0
1103     0       1.0
1104     1       0.0
1105     0       0.0
1106     1       1.0
1107     1       1.0
1108     1       1.0
1109     0       1.0
1110     0       0.0
1111     1       0.0
1112     0       1.0
1113     1       0.0
1114     0       0.0
1115     0       0.0
1116     1       1.0
1118     0       1.0
1119     0       1.0
1120     0       1.0

[1116 rows x 2 columns]

### DECISION TREE COM DADOS CONCATENADOS

In [62]:
columnsb=['bResult', 'blueTeamTag', 'blueTop', 'blueTopChamp', 'blueJungle','blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC','blueADCChamp', 'blueSupport', 'blueSupportChamp']
columnsr=['rResult', 'redTeamTag', 'redTop','redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle','redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport','redSupportChamp']
columns=['Result', 'TeamTag', 'Top','TopChamp', 'Jungle', 'JungleChamp', 'Middle','MiddleChamp', 'ADC', 'ADCChamp', 'Support','SupportChamp']

dados_b = dados[columnsb]
dados_b.columns = columns
dados_r = dados[columnsr]
dados_r.columns = columns

dados_concat = pd.concat([dados_b, dados_r]).dropna()

In [63]:
dados_bt = dados_testes[columnsb]
dados_bt.columns = columns
dados_rt = dados_testes[columnsr]
dados_rt.columns = columns

teste_concat = pd.concat([dados_bt, dados_rt]).dropna()
teste_concat.head()

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,1,GCU,Solo,Shen,Santorin,JarvanIV,Fly,Orianna,Rikara,Sivir,Whyin,Thresh
1,1,CNB,Lep,Maokai,Minerva,Graves,Tinowns,Syndra,pbO,Jhin,Woswos,Malzahar
2,0,MSE,Ninuo,Maokai,Wulala,Gragas,M1ssion,Vladimir,CorGi,Sivir,Kaiwing,Braum
3,1,PDS,jer0m,Gnar,RafaL0L,Gragas,Icytower,Vladimir,xpng,Varus,Choisix,Thresh
4,0,JAG,TrAce,TahmKench,Winged,Elise,Kuzan,Cassiopeia,Pilot,Lucian,Chei,Alistar

In [64]:
dados_concat.head(1)

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,0,TSM,Hauntzer,Trundle,Svenskeren,Elise,Bjergsen,Lulu,Doublelift,Jhin,Yellowstar,Braum

In [65]:
from sklearn import tree
from sklearn.metrics import confusion_matrix 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

# AQUIII

In [54]:
#####################
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.44265232974910396
Mean Squared Error: 0.44265232974910396
Root Mean Squared Error: 0.6653212229811281

In [25]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(x_train_encoded, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [41]:
pip install graphiz

The following command must be run outside of the IPython shell:

    $ pip install graphiz

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

### DUMMIFY

In [ ]:
def dummify(data, column_name):
    """
        Converte a coluna column_name em dummies / one-hot e as adiciona ao dataframe
        retorna uma copia do  df original *sem* a coluna que foi dummified
    """
    df = data.copy()
    # Nota: se você for um econometrista, pode se interessar por usar a opção dropFirst = True na get_dummies
    df2 = pd.concat([df.drop(column_name, axis=1), pd.get_dummies(data[column_name], prefix=column_name)], axis=1)
    return df2

In [ ]:
d = dummify(dados_concat, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    d= dummify(d,i)
    
d.head()

In [ ]:
t = dummify(teste_concat, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    t= dummify(t,i)
    
t.head()

In [ ]:
X = d.iloc[:,1:]
Y = dados_concat[['Result']]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [ ]:
X.shape

In [ ]:
X_teste = t.iloc[:,1:]
X_teste.shape

In [ ]:
clf.predict(X_teste)

In [ ]:
from sklearn import tree
from sklearn.datasets import load_iris
iris = load_iris()
c#lf = tree.DecisionTreeClassifier()
#clf = clf.fit(iris.data, iris.target)

In [ ]:
tree.plot_tree(clf.fit(iris.data,iris.target))

In [ ]:
!pip install -U scikit-learn

In [ ]:
plot_tree(clf)
plt.show()

### SEM CONCATENAR

In [31]:
dados_bt = dados_testes[columnsb]
dados_bt.columns = columns
dados_rt = dados_testes[columnsr]
dados_rt.columns = columns

teste_concat = pd.concat([dados_bt, dados_rt]).dropna()
teste_concat.head()

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,1,GCU,Solo,Shen,Santorin,JarvanIV,Fly,Orianna,Rikara,Sivir,Whyin,Thresh
1,1,CNB,Lep,Maokai,Minerva,Graves,Tinowns,Syndra,pbO,Jhin,Woswos,Malzahar
2,0,MSE,Ninuo,Maokai,Wulala,Gragas,M1ssion,Vladimir,CorGi,Sivir,Kaiwing,Braum
3,1,PDS,jer0m,Gnar,RafaL0L,Gragas,Icytower,Vladimir,xpng,Varus,Choisix,Thresh
4,0,JAG,TrAce,TahmKench,Winged,Elise,Kuzan,Cassiopeia,Pilot,Lucian,Chei,Alistar

In [32]:
y_train2 = dados_concat['Result']
x_train2 = dados_concat.drop(columns='Result')

In [37]:
encoder = OneHotEncoder(handle_unknown='ignore')
x_train_encoded2 = encoder.fit_transform(x_train.astype(str).values)

In [38]:
x_train_encoded2

<6499x10952 sparse matrix of type '<class 'numpy.float64'>'
	with 181972 stored elements in Compressed Sparse Row format>

In [49]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x_train_encoded2, y_train2)

ValueError: Number of labels=12933 does not match number of samples=6499