In [556]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import warnings

In [557]:
dados = pd.read_excel('matchinfo-treinamento.xlsx')
dados_testes = pd.read_excel('matchinfo-testes.xlsx')
# dados = pd.read_csv('matchinfo.csv')

In [498]:
dados.head(1)

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
0,NALCS,2016,Spring,Season,TSM,0,1,REN,30,Hauntzer,...,Graves,Crumbz,Gragas,Ninja,Lissandra,Freeze,Caitlyn,Hakuho,Bard,http://matchhistory.na.leagueoflegends.com/en/...

In [499]:
dados_testes.head(2)

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
0,NALCS,2018,Spring,Promotion,GCU,1,0,P1,35,Solo,...,Kled,MikeYeung,Elise,Ryu,Lucian,Arrow,Tristana,Xpecial,Taric,http://matchhistory.na.leagueoflegends.com/en/...
1,CBLoL,2017,Spring,Season,CNB,1,0,KBM,45,Lep,...,Nautilus,Danagorn,RekSai,Vash,Jayce,TheFoxz,Ziggs,Riyev,MissFortune,http://matchhistory.br.leagueoflegends.com/pt/...

In [500]:
dados.columns

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'blueTop', 'blueTopChamp', 'blueJungle',
       'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
       'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop',
       'redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle',
       'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport',
       'redSupportChamp', 'Address'],
      dtype='object')

In [649]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 30 columns):
League              6499 non-null object
Year                6499 non-null int64
Season              6499 non-null object
Type                6499 non-null object
blueTeamTag         6466 non-null object
bResult             6499 non-null int64
rResult             6499 non-null int64
redTeamTag          6467 non-null object
gamelength          6499 non-null int64
blueTop             6467 non-null object
blueTopChamp        6499 non-null object
blueJungle          6476 non-null object
blueJungleChamp     6499 non-null object
blueMiddle          6467 non-null object
blueMiddleChamp     6499 non-null object
blueADC             6467 non-null object
blueADCChamp        6499 non-null object
blueSupport         6467 non-null object
blueSupportChamp    6499 non-null object
redTop              6467 non-null object
redTopChamp         6499 non-null object
redJungle           6478 non-null object
redJungleChamp      6499 non-null object
redMiddle           6467 non-null object
redMiddleChamp      6499 non-null object
redADC              6467 non-null object
redADCChamp         6499 non-null object
redSupport          6467 non-null object
redSupportChamp     6499 non-null object
Address             6499 non-null object
dtypes: int64(4), object(26)
memory usage: 1.5+ MB

In [648]:
dados_testes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 30 columns):
League              1121 non-null object
Year                1121 non-null int64
Season              1121 non-null object
Type                1121 non-null object
blueTeamTag         1116 non-null object
bResult             1121 non-null int64
rResult             1121 non-null int64
redTeamTag          1116 non-null object
gamelength          1121 non-null int64
blueTop             1116 non-null object
blueTopChamp        1121 non-null object
blueJungle          1116 non-null object
blueJungleChamp     1121 non-null object
blueMiddle          1116 non-null object
blueMiddleChamp     1121 non-null object
blueADC             1116 non-null object
blueADCChamp        1121 non-null object
blueSupport         1116 non-null object
blueSupportChamp    1121 non-null object
redTop              1116 non-null object
redTopChamp         1121 non-null object
redJungle           1118 non-null object
redJungleChamp      1121 non-null object
redMiddle           1116 non-null object
redMiddleChamp      1121 non-null object
redADC              1116 non-null object
redADCChamp         1121 non-null object
redSupport          1116 non-null object
redSupportChamp     1121 non-null object
Address             1121 non-null object
dtypes: int64(4), object(26)
memory usage: 262.8+ KB

In [501]:
team={}
for i in dados.blueTeamTag:
    team[i]=0
for i in dados.redTeamTag:
    team[i]=0
for k,v in team.items():
    wins=len(dados[(dados.blueTeamTag==k) & (dados.bResult==1)])+len(dados[(dados.redTeamTag==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueTeamTag==k])+ len(dados[dados.redTeamTag==k])
    if matchs!=0:
        team[k]=wins/matchs
#print (team)

In [502]:
top = {}
for i in dados.blueTopChamp:
    top[i]=0
for i in dados.redTopChamp:
    top[i]=0
for k,v in  top.items():
    wins=len(dados[(dados.blueTopChamp==k) & (dados.bResult==1)])+len(dados[(dados.redTopChamp==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueTopChamp==k])+ len(dados[dados.redTopChamp==k])      
    if matchs!=0:
        top[k]=wins/matchs
#print(top)

In [503]:
jg = {}
for i in dados.blueJungleChamp:
    jg[i]=0
for i in dados.redJungleChamp:
    jg[i]=0
for k,v in  jg.items():
    wins=len(dados[(dados.blueJungleChamp==k) & (dados.bResult==1)])+len(dados[(dados.redJungleChamp==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueJungleChamp==k])+ len(dados[dados.redJungleChamp==k])      
    if matchs!=0:
        jg[k]=wins/matchs
print(jg)

{'Elise': 0.5022727272727273, 'JarvanIV': 0.488013698630137, 'Nidalee': 0.5273010920436817, 'RekSai': 0.4894894894894895, 'Gragas': 0.5360536612632756, 'Hecarim': 0.4755244755244755, 'Kindred': 0.4579710144927536, 'Ivern': 0.5358851674641149, 'Khazix': 0.5119726339794755, 'Graves': 0.46424870466321244, 'LeeSin': 0.47002398081534774, 'Warwick': 0.5348837209302325, 'Evelynn': 0.4189189189189189, 'Zac': 0.5896414342629482, 'Olaf': 0.48880597014925375, 'Pantheon': 0.47619047619047616, 'Sejuani': 0.5186813186813187, 'Rengar': 0.52734375, 'Vi': 0.5416666666666666, 'Draven': 1.0, 'Rumble': 0.4411764705882353, 'Nunu': 0.49586776859504134, 'Maokai': 0.464, 'Rammus': 0.7777777777777778, 'Nocturne': 0.52, 'Ekko': 0.4666666666666667, 'Kayn': 0.46153846153846156, 'Sion': 0.3333333333333333, 'Syndra': 0.0, 'Shyvana': 0.30434782608695654, 'Chogath': 0.48717948717948717, 'Amumu': 0.2857142857142857, 'Nautilus': 0.3333333333333333, 'Udyr': 0.4375, 'Ezreal': 0.0, 'Skarner': 0.5, 'Trundle': 0.4, 'Bard': 0.6666666666666666, 'Camille': 0.42857142857142855, 'Jax': 0.6428571428571429, 'XinZhao': 0.6666666666666666, 'Malphite': 0.0, 'DrMundo': 0.5, 'Shaco': 0.25, 'Karthus': 0.5, 'Poppy': 0.5909090909090909, 'FiddleSticks': 0.5, 'Lulu': 0.4, 'Darius': 0.0, 'Fiddlesticks': 0.0, 'Illaoi': 0.0, 'Kassadin': 0.0, 'Fizz': 0.25, 'Shen': 1.0, 'MasterYi': 0.0, 'MonkeyKing': 0.6666666666666666, 'Galio': 0.0, 'Volibear': 0.0, 'Gnar': 1.0, 'Aatrox': 1.0, 'Malzahar': 1.0, 'Quinn': 1.0, 'Jayce': 0.5, 'MissFortune': 0.0, 'Riven': 1.0, 'Rakan': 0.0, 'Karma': 0.0}

In [504]:
mid = {}
for i in dados.blueMiddleChamp:
    mid[i]=0
for i in dados.redMiddleChamp:
    mid[i]=0
for k,v in  mid.items():
    wins=len(dados[(dados.blueMiddleChamp==k) & (dados.bResult==1)])+len(dados[(dados.redMiddleChamp==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueMiddleChamp==k])+ len(dados[dados.redMiddleChamp==k])      
    if matchs!=0:
        mid[k]=wins/matchs
#print(mid)

In [505]:
adc = {}
for i in dados.blueADCChamp:
    adc[i]=0
for i in dados.redADCChamp:
    adc[i]=0
for k,v in  adc.items():
    wins=len(dados[(dados.blueADCChamp==k) & (dados.bResult==1)])+len(dados[(dados.redADCChamp==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueADCChamp==k])+ len(dados[dados.redADCChamp==k])      
    if matchs!=0:
        adc[k]=wins/matchs
print(adc)

{'Jhin': 0.51010101010101, 'Graves': 0.47093023255813954, 'Ziggs': 0.46511627906976744, 'Lucian': 0.47333333333333333, 'Kalista': 0.5429087624209575, 'Caitlyn': 0.49742002063983487, 'MissFortune': 0.4189189189189189, 'Sivir': 0.5239417071478141, 'Jinx': 0.4811320754716981, 'Ezreal': 0.4820936639118457, 'Ashe': 0.5119940029985007, 'Xayah': 0.5067264573991032, 'Tristana': 0.4986149584487535, 'Varus': 0.4826666666666667, 'Twitch': 0.5570776255707762, 'KogMaw': 0.45788336933045354, 'Vayne': 0.4857142857142857, 'Heimerdinger': 1.0, 'Corki': 0.48604992657856094, 'Draven': 0.5283018867924528, 'Kennen': 0.46, 'Janna': 0.0, 'Urgot': 0.5535714285714286, 'Mordekaiser': 0.8333333333333334, 'Irelia': 1.0, 'Quinn': 0.5, 'Viktor': 0.0, 'Blitzcrank': 0.0, 'Alistar': 1.0, 'Karma': 0.0, 'Kindred': 0.5, 'Lulu': 0.0, 'Nunu': 1.0, 'Thresh': 0.0, 'Karthus': 1.0, 'Jayce': 0.0, 'Teemo': 0.0, 'Kled': 0.0, 'Taliyah': 0.0}

In [216]:
sup = {}
for i in dados.blueSupportChamp:
    sup[i]=0
for i in dados.redSupportChamp:
    sup[i]=0
for k,v in  sup.items():
    wins=len(dados[(dados.blueSupportChamp==k) & (dados.bResult==1)])+len(dados[(dados.redSupportChamp==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueSupportChamp==k])+ len(dados[dados.redSupportChamp==k])      
    if matchs!=0:
        sup[k]=wins/matchs
print(sup)

{'Braum': 0.47768595041322315, 'Annie': 0.5474137931034483, 'Lulu': 0.45648854961832064, 'TahmKench': 0.5105008077544426, 'Alistar': 0.4869753979739508, 'Janna': 0.5380507343124166, 'Karma': 0.4694560669456067, 'Thresh': 0.526060606060606, 'Blitzcrank': 0.5590062111801242, 'Nautilus': 0.4697986577181208, 'Nami': 0.46037735849056605, 'Morgana': 0.5300925925925926, 'Taric': 0.5170940170940171, 'Leona': 0.44285714285714284, 'Malzahar': 0.581039755351682, 'Zyra': 0.48450244698205547, 'Bard': 0.5338078291814946, 'LeeSin': 0.5, 'Trundle': 0.5331632653061225, 'Shen': 0.59375, 'Kennen': 0.5454545454545454, 'Rakan': 0.5062111801242236, 'Zilean': 0.3888888888888889, 'MissFortune': 0.5158730158730159, 'Soraka': 0.512, 'Poppy': 0.4, 'Ashe': 0.6666666666666666, 'Brand': 0.5102040816326531, 'Kayle': 0.0, 'Lissandra': 0.2, 'Sona': 0.3902439024390244, 'DrMundo': 0.0, 'Veigar': 0.625, 'Maokai': 0.42857142857142855, 'Irelia': 0.0, 'Zac': 1.0, 'Fiddlesticks': 0.2, 'Malphite': 0.5, 'Camille': 0.5, 'Galio': 0.5263157894736842, 'Sejuani': 0.2, 'Gragas': 0.625, 'Ornn': 0.5, 'Velkoz': 0.6666666666666666, 'Lux': 0.6666666666666666, 'Garen': 0.0, 'Kalista': 0.5, 'Ahri': 0.0, 'Cassiopeia': 1.0, 'Elise': 0.75, 'Sion': 0.0, 'Taliyah': 0.0, 'Kled': 0.0, 'Nunu': 0.0, 'Ziggs': 0.5, 'TwistedFate': 0.0, 'Vayne': 1.0, 'Syndra': 0.3333333333333333, 'Ivern': 0.0, 'Udyr': 1.0, 'Jinx': 0.0, 'Rengar': 1.0}

In [217]:
top_player = {}
for i in dados.blueTop:
    top_player[i]=0
for i in dados.redTop:
    top_player[i]=0
for k,v in  top_player.items():
    wins=len(dados[(dados.blueTop==k) & (dados.bResult==1)])+len(dados[(dados.redTop==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueTop==k])+ len(dados[dados.redTop==k])      
    if matchs!=0:
        top_player[k]=wins/matchs
#print(top_player)

In [218]:
jg_player = {}
for i in dados.blueJungle:
    jg_player[i]=0
for i in dados.redJungle:
    jg_player[i]=0
for k,v in  jg_player.items():
    wins=len(dados[(dados.blueJungle==k) & (dados.bResult==1)])+len(dados[(dados.redJungle==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueJungle==k])+ len(dados[dados.redJungle==k])      
    if matchs!=0:
        jg_player[k]=wins/matchs
#print(jg_player)

In [219]:
mid_player = {}
for i in dados.blueMiddle:
    mid_player[i]=0
for i in dados.redMiddle:
    mid_player[i]=0
for k,v in  mid_player.items():
    wins=len(dados[(dados.blueMiddle==k) & (dados.bResult==1)])+len(dados[(dados.redMiddle==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueMiddle==k])+ len(dados[dados.redMiddle==k])      
    if matchs!=0:
        mid_player[k]=wins/matchs
#print(mid_player)

In [220]:
adc_player = {}
for i in dados.blueADC:
    adc_player[i]=0
for i in dados.redADC:
    adc_player[i]=0
for k,v in  adc_player.items():
    wins=len(dados[(dados.blueADC==k) & (dados.bResult==1)])+len(dados[(dados.redADC==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueADC==k])+ len(dados[dados.redADC==k])      
    if matchs!=0:
        adc_player[k]=wins/matchs
#print(adc_player)

In [221]:
sup_player = {}
for i in dados.blueSupport:
    sup_player[i]=0
for i in dados.redSupport:
    sup_player[i]=0
for k,v in  sup_player.items():
    wins=len(dados[(dados.blueSupport==k) & (dados.bResult==1)])+len(dados[(dados.redSupport==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueSupport==k])+ len(dados[dados.redSupport==k])      
    if matchs!=0:
        sup_player[k]=wins/matchs
#print(sup_player)

Naive baiyes

In [222]:
#dicionarios juntos
alls={}

for k,v in team.items():
    alls[k]=v

for k,v in top.items():
    alls[k]=v

for k,v in mid.items():
    if k not in mid.keys():
        alls[k]=v
    else:
        alls[k]=(v+mid[k])/2

for k,v in jg.items():
    if k not in jg.keys():
        alls[k]=v
    else:
        alls[k]=(v+jg[k])/2

for k,v in adc.items():
    if k not in adc.keys():
        alls[k]=v
    else:
        alls[k]=(v+adc[k])/2

for k,v in sup.items():
    if k not in sup.keys():
        alls[k]=v
    else:
        alls[k]=(v+sup[k])/2

for k,v in top_player.items():
    if k not in top_player.keys():
        alls[k]=v
    else:
        alls[k]=(v+top_player[k])/2

for k,v in jg_player.items():
    if k not in jg_player.keys():
        alls[k]=v
    else:
        alls[k]=(v+jg_player[k])/2

for k,v in mid_player.items():
    if k not in mid_player.keys():
        alls[k]=v
    else:
        alls[k]=(v+mid_player[k])/2

for k,v in adc_player.items():
    if k not in adc_player.keys():
        alls[k]=v
    else:
        alls[k]=(v+adc_player[k])/2

for k,v in sup_player.items():
    if k not in sup_player.keys():
        alls[k]=v
    else:
        alls[k]=(v+sup_player[k])/2
    
#print(alls)
len(alls)

1975

___

## <font color='#00878A'> Classificador - random forest</font>

### Unindo os dados dos times

Descobrir a acurácia

In [692]:
columnsb=['bResult', 'blueTeamTag', 'blueTop', 'blueTopChamp', 'blueJungle','blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC','blueADCChamp', 'blueSupport', 'blueSupportChamp']
columnsr=['rResult', 'redTeamTag', 'redTop','redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle','redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport','redSupportChamp']
columns=['Result', 'TeamTag', 'Top','TopChamp', 'Jungle', 'JungleChamp', 'Middle','MiddleChamp', 'ADC', 'ADCChamp', 'Support','SupportChamp']

In [693]:
dados_b = dados[columnsb]
dados_b.columns = columns
dados_r = dados[columnsr]
dados_r.columns = columns

In [694]:
dados_concat = pd.concat([dados_b, dados_r]).dropna()
dados_concat.head()

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,0,TSM,Hauntzer,Trundle,Svenskeren,Elise,Bjergsen,Lulu,Doublelift,Jhin,Yellowstar,Braum
1,1,BJK,Thaldrin,Gnar,Theokoles,JarvanIV,Energy,Xerath,Nardeus,Graves,Dumbledoge,Annie
2,1,NV,Seraph,Maokai,LirA,Nidalee,Ninja,Jayce,Apollo,Ziggs,Hakuho,Lulu
3,0,OG,Soaz,Trundle,Amazing,Elise,PowerOfEvil,Talon,Zven,Lucian,Mithy,Braum
4,1,SIN,Dhokla,Rumble,Juves,RekSai,ry0ma,Zed,FBI,Kalista,Rogue,Braum

In [695]:
y_train = dados_concat['Result']
x_train = dados_concat.drop(columns='Result')

In [696]:
encoder = OneHotEncoder(handle_unknown='ignore')
x_train_encoded = encoder.fit_transform(x_train.astype(str).values)

In [697]:
x_train_encoded

<12933x2306 sparse matrix of type '<class 'numpy.float64'>'
	with 142263 stored elements in Compressed Sparse Row format>

In [698]:
model = RandomForestClassifier(random_state = 0)
model.fit(x_train_encoded, y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [699]:
model.score(x_train_encoded, y_train)

0.9798190675017397

#### <font color='#00878A'>Testes</font>

In [700]:
dados_bt = dados_testes[columnsb]
dados_bt.columns = columns
dados_rt = dados_testes[columnsr]
dados_rt.columns = columns

In [701]:
teste_concat = pd.concat([dados_bt, dados_rt]).dropna()
teste_concat.head()

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,1,GCU,Solo,Shen,Santorin,JarvanIV,Fly,Orianna,Rikara,Sivir,Whyin,Thresh
1,1,CNB,Lep,Maokai,Minerva,Graves,Tinowns,Syndra,pbO,Jhin,Woswos,Malzahar
2,0,MSE,Ninuo,Maokai,Wulala,Gragas,M1ssion,Vladimir,CorGi,Sivir,Kaiwing,Braum
3,1,PDS,jer0m,Gnar,RafaL0L,Gragas,Icytower,Vladimir,xpng,Varus,Choisix,Thresh
4,0,JAG,TrAce,TahmKench,Winged,Elise,Kuzan,Cassiopeia,Pilot,Lucian,Chei,Alistar

In [702]:
y_test = teste_concat['Result']
x_test = teste_concat.drop(columns='Result')

In [703]:
x_test_encoded = encoder.transform(x_test)

In [704]:
y_predict = model.predict(x_test_encoded)

In [706]:
y_predict

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [707]:
acc = accuracy_score(y_test, y_predict)

In [633]:
acc

0.5698924731182796

________

### Considerando os dois times

#### Segunda iteração - random forest

In [708]:
y_train = dados['bResult']
x_train = dados.drop(columns=['bResult', 'rResult'])

In [709]:
encoder = OneHotEncoder(handle_unknown='ignore')
x_train_encoded = encoder.fit_transform(x_train.astype(str).values)

In [710]:
x_train_encoded

<6499x10952 sparse matrix of type '<class 'numpy.float64'>'
	with 181972 stored elements in Compressed Sparse Row format>

In [711]:
model = RandomForestClassifier(n_estimators = 100, random_state = 0)
model.fit(x_train_encoded, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [712]:
model.score(x_train_encoded, y_train)

1.0

#### <font color='#00878A'>Testes</font>

In [713]:
dados_testes.dropna(inplace=True)

In [669]:
y_test = dados_testes['bResult']
x_test = dados_testes.drop(columns=['bResult', 'rResult'])

In [670]:
x_test_encoded = encoder.transform(x_test)

In [671]:
y_predict = model.predict(x_test_encoded)

In [672]:
#model.score(x_test_encoded, y_test)

In [673]:
y_predict

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [674]:
acc = accuracy_score(y_test, y_predict)

In [675]:
acc

0.6442652329749103

In [660]:
matrix = confusion_matrix(y_test, y_predict, labels=None, sample_weight=None)

In [661]:
matrix

array([[253, 249],
       [148, 466]], dtype=int64)

In [677]:
dados_testes['bPredict'] = y_predict

In [685]:
y_predict_proba = model.predict_proba(x_test_encoded)

In [687]:
y_predict_proba

array([[0.55, 0.45],
       [0.32, 0.68],
       [0.58, 0.42],
       ...,
       [0.42, 0.58],
       [0.59, 0.41],
       [0.4 , 0.6 ]])

In [688]:
dados_testes['bPredictProba'] = y_predict_proba[:,1]

In [716]:
dados_testes.sort_values(by='bPredictProba')[['blueTeamTag', 'redTeamTag', 'bPredictProba', 'bResult']].head(50)

     blueTeamTag redTeamTag  bPredictProba  bResult
941           GG        LYN           0.07        0
198          LGS        ahq           0.08        0
869           CJ        ROX           0.09        0
400          JTH        LYN           0.10        0
726           FB         FW           0.10        0
221          NRG        IMT           0.10        1
886           P1        IMT           0.11        1
631           GG        LYN           0.12        0
548           MM        S04           0.12        1
151          M17        ahq           0.12        0
16           HKE         FW           0.12        0
325           LZ        ROX           0.13        0
828          REN        IMT           0.14        0
1046         HKA        AHQ           0.16        1
1069         AHQ         FW           0.16        0
440          CGE         FW           0.16        0
835          CLG        IMT           0.16        1
430           XG         FW           0.17        0
510           AS        ahq           0.17        0
188           DP        SUP           0.17        1
1010         MVP        SSG           0.18        0
14           M17         FW           0.18        0
202           TM         JT           0.19        0
981           AE        LGC           0.19        1
317          TPA        ahq           0.19        0
47           SSG        KOO           0.20        0
592           DW        CHF           0.20        0
582          SSB        CJE           0.20        0
556          HLN         AE           0.20        0
35           GIA        S04           0.20        1
410          bbq        SKT           0.20        0
126          ESC        SKT           0.20        0
269          SSG        SKT           0.20        0
1016          TM         DW           0.20        0
313          CLG        IMT           0.20        1
473           SZ        USG           0.21        0
632          SCW        PDS           0.21        0
301           TM         AV           0.21        0
716          ROX        SKT           0.22        0
172          HKE        ahq           0.22        0
86            WS        ahq           0.22        0
787          MSF        SKT           0.22        1
710           WE        TSM           0.22        0
191           XG        HKE           0.22        0
649          GIA         G2           0.23        0
671           C9        IMT           0.23        1
820          NIP         MM           0.23        1
734          ROC         G2           0.23        0
990          MSE        ahq           0.24        1
453           kt        ROX           0.24        0

In [717]:
comp_erros = dados_testes[dados_testes['bResult'] != dados_testes["bPredict"]]
comp_acertos = dados_testes[dados_testes['bResult'] == dados_testes["bPredict"]]

In [684]:
comp_acertos['blueTeamTag'].value_counts()

FNC      21
SKT      20
TSM      18
SSG      18
ROX      17
JAG      16
C9       14
kt       13
DIG      12
LZ       12
DP       11
MVP      11
ahq      11
IMT      11
G2       10
TL       10
FW       10
H2K      10
SIN       9
OG        9
AFs       9
UOL       9
CLG       9
P1        9
HKE       9
SPY       8
CHF       8
TM        8
FB        8
GMB       8
         ..
yoeFW     1
AE        1
100       1
VS        1
EMP       1
SCW       1
IFG       1
CW        1
NJE       1
CLK       1
NJF       1
BGG       1
MIL       1
NME       1
SHR       1
PRO       1
GAL       1
X5        1
HAF       1
CG        1
LGD       1
JST       1
PDS       1
EG        1
OPT       1
CRJ       1
DD        1
TIP       1
GET       1
ESC       1
Name: blueTeamTag, Length: 159, dtype: int64

In [683]:
comp_erros['blueTeamTag'].value_counts()

CLG     12
C9      11
TL      10
AFs     10
JAG      9
SKT      9
G2       9
FW       8
H2K      8
ROX      7
SSG      7
DIG      7
ROC      7
NV       7
LZ       7
CJE      6
SIN      6
MVP      6
MSF      6
SUP      5
kt       5
DP       5
P1       5
TSM      5
BJK      5
AE       4
GAL      4
VS       4
AUR      4
IMT      4
        ..
S04      1
OHM      1
CREW     1
NIP      1
BC       1
JTH      1
ZONE     1
INF      1
AF       1
WE       1
AS       1
B2K      1
COL      1
CA       1
PNG      1
BPI      1
FSN      1
D9       1
LGC      1
HR       1
GCU      1
X5       1
HAF      1
GET      1
TPA      1
VP       1
CJ       1
EVR      1
17A      1
SSW      1
Name: blueTeamTag, Length: 140, dtype: int64

___

## <font color='#00878A'>Logistic regression</font>

In [595]:
model2 = LogisticRegression(solver='lbfgs', multi_class='auto')

In [596]:
model2.fit(x_train_encoded, y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [597]:
y_pred = model2.predict(x_test_encoded)

ValueError: X has 1796 features per sample; expecting 2306

In [573]:
acc = accuracy_score(y_test, y_pred)

NameError: name 'y_pred' is not defined

___

## <font color='#00878A'> Classificador do luciao </font>

In [373]:
wins=[]
for i in range(len(dados_testes)):
    probblue=1
    probred=1
    
    for f in columnsb:
        if dados_testes.loc[i,f] not in alls.keys():
            probblue*=0.5
        else:
            if alls[dados_testes.loc[i,f]]==0 or alls[dados_testes.loc[i,f]]==1:
                probblue*=0.5
            else:
                probblue*=alls[dados_testes.loc[i,f]]
    for f in columnsr:
        if dados_testes.loc[i,f] not in alls.keys():
            probred*=0.5
        else:
            if alls[dados_testes.loc[i,f]]==0 or alls[dados_testes.loc[i,f]]==1:
                probred*=0.5
            else:
                probred*=alls[dados_testes.loc[i,f]]
    if probblue<probred:
        wins.append(0)
    else:
        wins.append(1)

In [374]:
#teste de qualidade
certo=0
total=0
for i in range(len(dados_testes)):
    if dados_testes.loc[i,'bResult']==wins[i]:
        certo+=1
        total+=1
    else:
        total+=1
print(100*certo/total,'%')

64.58519179304193 %