In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:

dados = pd.read_csv('matchinfo.csv')

In [14]:
dados.head(1)

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,Dyrus,...,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,LemonNation,Thresh,http://matchhistory.na.leagueoflegends.com/en/...

In [15]:
dados.columns

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'blueTop', 'blueTopChamp', 'blueJungle',
       'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
       'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop',
       'redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle',
       'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport',
       'redSupportChamp', 'Address'],
      dtype='object')

In [21]:
dados['redTopChamp'].value_counts()

Maokai          880
Gnar            665
Shen            604
Rumble          526
Nautilus        396
Poppy           384
Renekton        326
Trundle         324
Fiora           284
JarvanIV        232
Irelia          229
Ekko            229
Gragas          226
Gangplank       213
Camille         166
Kennen          149
Kled            133
Hecarim         128
Chogath         115
Jayce           111
Fizz            109
Lissandra        98
Jax              97
Lulu             83
Malphite         76
Galio            75
Ryze             69
DrMundo          52
TahmKench        51
Sion             51
               ...
Aatrox            6
Pantheon          5
Nasus             5
Urgot             5
Zac               5
Mordekaiser       4
RekSai            4
Rengar            4
Zed               3
Yorick            3
Teemo             2
Talon             2
LeeSin            2
Malzahar          2
Taliyah           2
Warwick           2
Karma             2
Azir              2
Khazix            2
MasterYi          1
Heimerdinger      1
MonkeyKing        1
Shaco             1
Kayn              1
Viktor            1
Diana             1
Ashe              1
Tryndamere        1
Annie             1
XinZhao           1
Name: redTopChamp, Length: 81, dtype: int64

In [22]:
dados['blueTopChamp'].value_counts()

Maokai         827
Shen           657
Gnar           625
Rumble         571
Nautilus       400
Poppy          386
Trundle        329
Renekton       307
Fiora          247
JarvanIV       237
Camille        221
Gragas         216
Irelia         214
Gangplank      212
Ekko           205
Kennen         160
Jayce          146
Hecarim        135
Chogath        123
Kled           116
Ryze           113
Jax            111
Lulu            99
Fizz            97
Galio           88
Lissandra       83
Malphite        71
Sion            59
TahmKench       55
Swain           47
              ...
Sejuani          7
Akali            5
Yorick           5
Alistar          5
RekSai           4
Nidalee          4
Azir             4
Pantheon         3
Nasus            3
Malzahar         3
LeeSin           3
Mordekaiser      2
Talon            2
Rengar           2
Nocturne         2
Teemo            2
Zac              2
Urgot            2
Nunu             1
Warwick          1
XinZhao          1
Taliyah          1
Khazix           1
Blitzcrank       1
Bard             1
Katarina         1
Varus            1
Karma            1
Zed              1
Diana            1
Name: blueTopChamp, Length: 78, dtype: int64

In [26]:
top = {}
for i in dados.blueTopChamp:
    top[i]=0
for i in dados.redTopChamp:
    top[i]=0
for k,v in  top.items():
    wins=len(dados[(dados.blueTopChamp==k) & (dados.bResult==1)])+len(dados[(dados.redTopChamp==k) & (dados.rResult==1)])
    matchs=len(dados[dados.blueTopChamp==k])+ len(dados[dados.redTopChamp==k])      
    if matchs!=0:
        top[k]=wins/matchs
print(top)

{'Irelia': 0.4966139954853273, 'Gnar': 0.5, 'Renekton': 0.4597156398104265, 'Kassadin': 0.5555555555555556, 'Sion': 0.5454545454545454, 'Jax': 0.4807692307692308, 'Lulu': 0.45054945054945056, 'Maokai': 0.5125951962507322, 'Rumble': 0.5050136736554239, 'Lissandra': 0.48066298342541436, 'RekSai': 0.25, 'Fizz': 0.5436893203883495, 'Morgana': 0.5263157894736842, 'Kennen': 0.4336569579288026, 'Gragas': 0.45701357466063347, 'DrMundo': 0.27586206896551724, 'Vladimir': 0.43529411764705883, 'Hecarim': 0.4600760456273764, 'Ryze': 0.5, 'Ekko': 0.5184331797235023, 'Shen': 0.4964314036478985, 'Nautilus': 0.5012562814070352, 'Khazix': 0.3333333333333333, 'Riven': 0.5, 'Olaf': 0.4473684210526316, 'Shyvana': 0.47368421052631576, 'Yasuo': 0.5517241379310345, 'Malphite': 0.47619047619047616, 'Fiora': 0.5009416195856874, 'TahmKench': 0.5471698113207547, 'Poppy': 0.4883116883116883, 'Gangplank': 0.52, 'Graves': 0.47540983606557374, 'Quinn': 0.5, 'Trundle': 0.5252679938744257, 'Pantheon': 0.75, 'Rammus': 0.6078431372549019, 'Swain': 0.4578313253012048, 'JarvanIV': 0.5522388059701493, 'Illaoi': 0.5135135135135135, 'Lucian': 0.64, 'Jayce': 0.48638132295719844, 'Camille': 0.5813953488372093, 'Singed': 0.5806451612903226, 'Kled': 0.5220883534136547, 'Galio': 0.44171779141104295, 'Chogath': 0.5294117647058824, 'Nasus': 0.375, 'Cassiopeia': 0.5217391304347826, 'Azir': 0.6666666666666666, 'Yorick': 0.25, 'Diana': 0.0, 'Nocturne': 1.0, 'LeeSin': 0.2, 'Zac': 0.42857142857142855, 'Taliyah': 0.6666666666666666, 'Malzahar': 0.8, 'Akali': 0.36363636363636365, 'Teemo': 0.0, 'Bard': 0.0, 'Nidalee': 0.38461538461538464, 'Nunu': 1.0, 'Rengar': 0.16666666666666666, 'Sejuani': 0.5294117647058824, 'Mordekaiser': 0.3333333333333333, 'Varus': 0.0, 'Kayle': 0.43478260869565216, 'Darius': 0.5102040816326531, 'Zed': 0.75, 'XinZhao': 1.0, 'Blitzcrank': 0.0, 'Talon': 0.25, 'Urgot': 0.5714285714285714, 'Alistar': 0.6, 'Warwick': 0.0, 'Ornn': 0.6181818181818182, 'Karma': 0.6666666666666666, 'Katarina': 0.0, 'Aatrox': 0.3333333333333333, 'Shaco': 1.0, 'Heimerdinger': 0.0, 'Ashe': 0.0, 'MasterYi': 0.0, 'Tryndamere': 1.0, 'MonkeyKing': 0.0, 'Kayn': 0.0, 'Viktor': 1.0, 'Annie': 0.0}