In [ ]:
#CARREGAR DADOS JUNTO
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=27)

In [107]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import matplotlib

In [82]:
dados = pd.read_excel('matchinfo-treinamento.xlsx')
dados_testes = pd.read_excel('matchinfo-testes.xlsx')
# dados = pd.read_csv('matchinfo.csv')

In [86]:
columnsb=['bResult', 'blueTeamTag', 'blueTop', 'blueTopChamp', 'blueJungle','blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC','blueADCChamp', 'blueSupport', 'blueSupportChamp']
columnsr=['rResult', 'redTeamTag', 'redTop','redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle','redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport','redSupportChamp']
columns=['Result', 'TeamTag', 'Top','TopChamp', 'Jungle', 'JungleChamp', 'Middle','MiddleChamp', 'ADC', 'ADCChamp', 'Support','SupportChamp']

dados_b = dados[columnsb]
dados_b.columns = columns
dados_r = dados[columnsr]
dados_r.columns = columns

dados_concat = pd.concat([dados_b, dados_r]).dropna()

In [113]:
dados_bt = dados_testes[columnsb]
dados_bt.columns = columns
dados_rt = dados_testes[columnsr]
dados_rt.columns = columns

teste_concat = pd.concat([dados_bt, dados_rt]).dropna()
teste_concat.head()

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,1,GCU,Solo,Shen,Santorin,JarvanIV,Fly,Orianna,Rikara,Sivir,Whyin,Thresh
1,1,CNB,Lep,Maokai,Minerva,Graves,Tinowns,Syndra,pbO,Jhin,Woswos,Malzahar
2,0,MSE,Ninuo,Maokai,Wulala,Gragas,M1ssion,Vladimir,CorGi,Sivir,Kaiwing,Braum
3,1,PDS,jer0m,Gnar,RafaL0L,Gragas,Icytower,Vladimir,xpng,Varus,Choisix,Thresh
4,0,JAG,TrAce,TahmKench,Winged,Elise,Kuzan,Cassiopeia,Pilot,Lucian,Chei,Alistar

In [87]:
dados_concat.head(1)

,Result,TeamTag,Top,TopChamp,Jungle,JungleChamp,Middle,MiddleChamp,ADC,ADCChamp,Support,SupportChamp
0,0,TSM,Hauntzer,Trundle,Svenskeren,Elise,Bjergsen,Lulu,Doublelift,Jhin,Yellowstar,Braum

In [92]:
from sklearn import tree
from sklearn.metrics import confusion_matrix 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [95]:
def dummify(data, column_name):
    """
        Converte a coluna column_name em dummies / one-hot e as adiciona ao dataframe
        retorna uma copia do  df original *sem* a coluna que foi dummified
    """
    df = data.copy()
    # Nota: se você for um econometrista, pode se interessar por usar a opção dropFirst = True na get_dummies
    df2 = pd.concat([df.drop(column_name, axis=1), pd.get_dummies(data[column_name], prefix=column_name)], axis=1)
    return df2

In [117]:
d = dummify(dados_concat, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    d= dummify(d,i)
    
d.head()

,Result,Top_957,Top_3z,Top_ADD,Top_AJ,Top_AJun,Top_Acce,Top_Achie,Top_Acorn,Top_Air,...,SupportChamp_Trundle,SupportChamp_TwistedFate,SupportChamp_Udyr,SupportChamp_Vayne,SupportChamp_Veigar,SupportChamp_Velkoz,SupportChamp_Zac,SupportChamp_Ziggs,SupportChamp_Zilean,SupportChamp_Zyra
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [119]:
t = dummify(teste_concat, 'Top')
colunas = ['TeamTag','TopChamp','Jungle','JungleChamp','Middle','MiddleChamp','ADC','ADCChamp','Support','SupportChamp']
for i in colunas:
    t= dummify(t,i)
    
t.head()

,Result,Top_957,Top_3z,Top_957',Top_ADD,Top_AJ,Top_AJun,Top_Acce,Top_Achie,Top_Acorn,...,SupportChamp_Soraka,SupportChamp_Syndra,SupportChamp_TahmKench,SupportChamp_Taric,SupportChamp_Thresh,SupportChamp_Trundle,SupportChamp_Veigar,SupportChamp_Velkoz,SupportChamp_Zilean,SupportChamp_Zyra
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
X = d.iloc[:,1:]
Y = dados_concat[['Result']]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [122]:
X.shape

(12933, 2306)

In [123]:
X_teste.shape

(2232, 1796)

In [121]:
X_teste = t.iloc[:,1:]
clf.predict(X_teste)

ValueError: Number of features of the model must match the input. Model n_features is 4 and input n_features is 1796

In [61]:
from sklearn import tree
from sklearn.datasets import load_iris
iris = load_iris()
c#lf = tree.DecisionTreeClassifier()
#clf = clf.fit(iris.data, iris.target)

In [62]:
tree.plot_tree(clf.fit(iris.data,iris.target))

AttributeError: module 'sklearn.tree' has no attribute 'plot_tree'

In [110]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\nicol\anaconda3\lib\site-packages (0.21.3)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\nicol\anaconda3\lib\site-packages (from scikit-learn) (1.15.4)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\nicol\anaconda3\lib\site-packages (from scikit-learn) (0.14.0)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\nicol\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)

In [112]:
plot_tree(clf)
plt.show()

NameError: name 'plot_tree' is not defined